.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  justify-content: space-between;
}
.mainbody {
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.image {
  width: 230px;
  height: 180px;
  object-fit: cover;
  padding: 10px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: whitesmoke;
  gap: 24px;
}

/* RATING */
.star {
  cursor: pointer;
  font-size: 26px;
}

.starConatiner {
  display: none;
}



